body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Raleway", sans-serif !important;
}

.home-logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  height: auto; /* 높이를 자동으로 조정 */
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
}

.home-logo {
  width: 200px; /* 원하는 크기로 조정하세요 */
  height: auto; /* 비율에 맞게 높이 자동 조정 */
}

.home-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.home-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-content {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

.blinking-cursor {
  font-size: 2rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.home-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden; /* 필요에 따라 스크롤바를 숨기기 위해 설정 */
}

.outer {
  width: 100%;
  height: 100%; /* 부모 요소인 .home-container 크기와 동일하게 설정 */
  overflow-y: auto; /* 스크롤이 필요한 경우 스크롤바 표시 */
  background-color: white;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.divider {
  display: none;
}

.start-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 250px;
  height: 80px;
  max-width: 100%;
  margin: 1rem auto;
  border: 2px solid #21a6a1;
  /* border-radius: 15px; */
  background-color: #ffffff;
  color: #21a6a1;
  font-size: 26px;
  text-align: center;
  line-height: 80px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.start-btn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #21a6a1;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.start-btn:hover {
  color: #ffffff;
  background-color: #21a6a1;
  cursor: pointer;
}

.start-btn:hover:before {
  transform: translateX(0);
  z-index: -2;
}

@media (max-width: 767px) {
  .home-logo {
    width: 250px;
    height: auto;
  }

  .start-btn {
    font-size: 16px;
    line-height: 60px;
    width: 200px;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home-logo {
    width: 400px;
    height: auto;
  }

  .start-btn {
    font-size: 20px;
    line-height: 60px;
    width: 250px;
    height: auto;
  }
}
