.page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.page-content {
  flex: 1;
  overflow-y: auto;
  padding-top: 80px; /* TopBar의 높이만큼 패딩 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 90vw;
  height: 85vh;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

@media (max-width: 767px) {
  .form-container {
    width: 90vw;
    height: 80vh;
    padding: 20px;
  }
}

@media (max-width: 479px) {
  .form-container {
    width: 90vw;
    height: 80vh;
    padding: 10px;
  }
}
